<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbt4e.launch.hardware.Nios2HardwareLaunch">
<stringAttribute key="bytestreamCableName" value="10CL120(Y|Z)|EP3C120|.."/>
<stringAttribute key="bytestreamPath" value="/devices/10CL120(Y|Z)|EP3C120|..@1#USB-0/(link)/JTAG/alt_sld_fab_sldfabric.node_0/jtag_uart_0.jtag"/>
<stringAttribute key="bytestreamprocessorDeviceIndex" value="1"/>
<stringAttribute key="bytestreamprocessorInstanceId" value="0"/>
<booleanAttribute key="checkSysid" value="true"/>
<booleanAttribute key="checkTimestamp" value="true"/>
<booleanAttribute key="connectToConsole" value="true"/>
<booleanAttribute key="downloadElf" value="true"/>
<stringAttribute key="elfFile" value="aes.elf"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="aes.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="aes"/>
<stringAttribute key="processorCableName" value="USB-Blaster on localhost (USB-0)"/>
<stringAttribute key="processorDeviceIndex" value="1"/>
<stringAttribute key="processorInstanceId" value="0"/>
<stringAttribute key="processorPath" value="/devices/10CL120(Y|Z)|EP3C120|..@1#USB-0/(link)/JTAG/alt_sld_fab_sldfabric.node_1/nios2_gen2_0.data_master"/>
<stringAttribute key="project" value="aes"/>
<stringAttribute key="quartusProjectDir" value="C:/Users/finnn/Documents/385/385_FPGA/lab9"/>
<booleanAttribute key="resetProcessor" value="false"/>
<booleanAttribute key="startProcessor" value="true"/>
<stringAttribute key="sysidBaseAddress" value="0xa8"/>
<stringAttribute key="sysidHash" value="0x0"/>
<stringAttribute key="sysidTimestamp" value="1541103342"/>
</launchConfiguration>
